<div class="row">
    <div class="dropdown">
        <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sort By
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" (click)="onAscSort()">Low to high</a>
          <a class="dropdown-item" (click)="onDescSort()">High to Low</a>
          <a class="dropdown-item" (click)="onRelevance()">Relevance</a>
        </div>
      </div>
    <div class="col-md-3" *ngFor="let image of womenData" style="padding: 30px;" id="productdetails">
        <img class="image" [src]=image.link>
        <p>{{image.name}}</p>
        <p>{{image.price}}</p>
        <button class="btn" (click)="onCartClick(image)" >Add to Cart</button>
        <button class="btn"(click)="onBuyNow(image)">Buy Now</button>
    </div>
</div>